*{
	margin: 0;
	padding: 0;
}
body{
	background: #F0F0F0;
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.clear{
	overflow: hidden;
}
.template{
	margin: 10px auto;
}
.container{
	width: 1160px;
	margin: 0 auto;
	background: #ffffff;
}
.headeropt{
	background: #00A99D;
	color: #fcfcfc;
	padding: 20px 15px;
	display: block;
}
.lefthead{
	width: 300px;
	float: left;
}
.lefthead h1{
	font-size: 22px;
}
.righthead{
	width: 820px;
}
.righthead ul{
	float: right;
}
.righthead ul li{
	float: left;
	padding: 0px 5px;
}
.righthead ul li a{
	font-size: 12px;
	color: #fcfcfc;
	transition:0.3s all ease;
}
.righthead ul li a:hover{
	color: #ddd;
}
.maincontent{
	padding: 20px;
}
.content{}
.content h1{
	font-size: 36px;
	font-weight: normal;
	margin: 50px 0px;
	border-bottom: 1px solid #00A99D;
	padding-bottom: 5px;
}
.samepost{
	width: 350px;
	height: auto;
	float: left;
	margin: 10px;
	box-shadow: 5px 5px 10px #ddd;
}
.mrnone{
	margin-right: 0;
}

.samepost img{
	width: 350px;
	height: 200px;
}
.samepost h2 {
	font-size: 26px;
	font-weight: normal;
	margin: 15px 0px 30px 0px;
}
.samepost .postby {
	color: #00A99D;
	font-size: 10px;
	margin-bottom: 10px;
	display: block;
	font-weight: bold;
}
.samepost p {
	font-size: 15px;
	line-height: 30px;
}
.pcounter {
	width: 150px;
	margin: 30px auto;
	padding: 30px 0px;
}
.pcounter ul{

}
.pcounter ul li {
	float: left;
	margin: 0px 3px;
}
.pcounter ul li a{
	background: #00A99D;
	color: #fcfcfc;
	transition:0.3s all ease;
	padding: 5px 10px;
	display: block;
}
.pcounter ul li a:hover{
	background: #008C80;
}
.footeropt {
	text-align: center;
	background: #000;
	color: #fcfcfc;
	font-size: 12px;
	padding: 50px 0px;
}
.contactus{
	width: 600px;
	margin: 30px auto;
	border: 1px solid #ddd;
	padding: 50px;
	box-shadow: 5px 5px 10px #ddd;
}
.contactus td{
	font-size: 12px;
}
.contactus input[type="text"],input[type="email"]{
	width: 400px;
	height: 25px;
	border: 1px solid #00A99D;
	margin-bottom: 10px;
	padding: 2px 3px;
}
.contactus input[type="submit"]{
	background: #00A99D;
	border: 1px solid #00A99D;
	padding: 5px 10px;
	color: #ffffff;
	cursor: pointer;
}
.address{
	width: 350px;
	height: auto;
	float: left;
	margin: 10px;
	box-shadow: 5px 5px 10px #ddd;
}
.address h2{
	font-size: 18px;
	padding: 5px;
	font-weight: normal;
	border-bottom: 1px solid #00A99D;
	margin-bottom: 10px;
}
.address p{
	font-size: 12px;
	line-height: 30px;
}